 .client-master-container {

  .header {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #798489;
  }
  .text-box-wrapper {
    margin-right: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

  label {
    margin-right: 8px;
  }
} 
.select-box-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  margin-right: 24px;
  label {
    margin-right: 8px;
  }
}
  .MuiDataGrid-root {
    border: none;

    .MuiDataGrid-cell,
    .MuiDataGrid-colCell {
      text-align: left;
      padding-left: 6px;
      font-size: 12px;
      font-weight: bold;
      min-height: 40px !important;
      max-height: 40px !important;
      display: flex;
      align-items: center;
    }
    .MuiDataGrid-cell {
      .form-icon {
        display: flex;
        svg {
          align-items: center;
          display: flex;
          width: 20px;
          height: 20px;
        }
      }
    }
    .MuiDataGrid-columnSeparator {
      display: none;
    }
    .MuiDataGrid-row,
    .MuiDataGrid-colCell-draggable {
      min-height: 40px !important;
      max-height: 40px !important;
    }
    .MuiDataGrid-columnsContainer {
      background: #37474F;  
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }
    .MuiDataGrid-sortIcon {
      color: #fff;
    }
    .MuiDataGrid-colCell:focus,
    .MuiDataGrid-cell:focus {
      outline: none;
    }
  }

  .client-master-header-wrapper {
    display: flex;
    justify-content: space-between;
    .save-button {
      height: 40px;
      padding: 8px 20px;
      background: #F36E44;
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      cursor: pointer;
      outline: none !important;
      text-align: center;
      border: 1px solid;
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
.description-modal-container {
  display: flex;
  margin: 32px 0;

  .description-button-wrapper {
    font-size: 14px;
    font-weight: bold;
  
    .description-button {
      background: #fff;
      font-size: 14px;
      border: 2px solid #dededf;
      margin-left: 8px;
      &:focus {
        border-color: #dededf;
        outline: none;
      }
    }
  }
}

.assest-popup {
  padding: 24px;
  .form-wrapper .form-filed-wrapper {
    flex-direction: column;
    align-items: flex-start;

    .text-box-wrapper {
      margin-top: 16px;
    }
    label {
      padding-right: 16px;
    }
  }
  .form-button-wrapper {
    .reset-button{
      margin-right: 16px;
    }
  }
}

