ul{
  list-style-type: none;
  text-align: left;
}

.hidden{
  display: none;
}

.main-menu{
  padding:0px;
  margin:0px;
}

li{
  border-bottom: 1px solid #414247;
  color:white;
}
li a{
  text-decoration: none;
  color: inherit;
}
.active{
  background-color: #546066;
  padding: 0px;
}
.active li{
  background-color:#546066;
  padding-left: 30px;
 }