.assest-classfication-container,
.brand-master-container {

  .header {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #798489;
  }

  .form-wrapper {
    display: flex;
    margin-bottom: 24px;
    

    .text-box-wrapper {
      margin-right: 24px;
      display: flex;
      flex-wrap: wrap;

    .label {
      margin-right: 8px;
    }
    }
    .checkbox-wrapper {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  label,
 .reset-button {
    margin-right: 8px;
  }
 .serial-no-label {
    margin-left: 8px;
  }

  .asset-table-wrapper {
    .text-box-wrapper {
      
    label {
      margin-right: 8px;
    }
    }
    .asset-search-container {
      display: flex;
      margin-bottom: 16px;
      padding-top: 32px;
    }
    
    .MuiDataGrid-root {
      border: none;

      .MuiDataGrid-cell,
      .MuiDataGrid-colCell {
        text-align: left;
        padding-left: 6px;
        font-size: 12px;
        min-height: 40px !important;
        max-height: 40px !important;
        display: flex;
        align-items: center;
      }
      .MuiDataGrid-columnSeparator {
        display: none;
      }
      .MuiDataGrid-row,
      .MuiDataGrid-colCell-draggable {
        min-height: 40px !important;
        max-height: 40px !important;
      }
      .MuiDataGrid-sortIcon {
        color: #fff;
      }
      .MuiDataGrid-colCell:focus,
      .MuiDataGrid-cell:focus {
        outline: none;
      }
    }
  }
}