.assest-classfication-container,
.brand-master-container {

  .header {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #798489;
  }

  .form-wrapper {
    display: flex;
    margin-bottom: 24px;
    

    .text-box-wrapper {
      margin-right: 24px;
      display: flex;
      flex-wrap: wrap;

    .label {
      margin-right: 8px;
    }
    }
    .checkbox-wrapper {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  label,
 .reset-button {
    margin-right: 8px;
  }
 .serial-no-label {
    margin-left: 8px;
  }

  .asset-table-wrapper {
    .text-box-wrapper {
      
    label {
      margin-right: 8px;
    }
    }
    .asset-search-container {
      display: flex;
      margin-bottom: 16px;
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid #dededf;
    }
  }
}