 .assest-description-container {

  .header {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #798489;
  }
  .select-box-wrapper{
    display: flex;
    flex-wrap: wrap;
    label {
      margin-right: 8px;
    }
  }
}
.description-modal-container {
  display: flex;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #dededf;

  .description-button-wrapper {
    font-size: 14px;
    font-weight: bold;
    color: #798489;
  
    .description-button {
      background: #fff;
      font-size: 14px;
      border: 2px solid #dededf;
      margin-left: 8px;
      &:focus {
        border-color: #dededf;
        outline: none;
      }
    }
  }
}